# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]s[a-p]

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# pipenv
Pipfile
Pipfile.lock

# personal
*.txt
*.DS_Store
*_test.py
*_test.txt
*_test.png
*_test
